<!-- 5/4 -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <!-- Changed: Full-width heading row for proper stacking (5/3) -->
            <h1>About Us</h1>
            <img
                    src="{% static 'banner.jpg' %}"
                    alt="Logo"
                    height="100"
            >
            <p>Welcome to our book site! This project was built as part of our software engineering class.</p>
            <p>Here you can browse, share, and explore books added by users like you.</p>
            <p>Our group members are: Benjamin Saucedo, Georgina Mateo, Gray Gray, Javier Martinez, Jesus Calvo, Robert
                Gutierrez.</p>
            <p> For any problems or concerns, email our support team: support@Rainforest.com</p>

        </div>
    </div>
</div>
{% endblock %}
